.bx-forgot-password {
  display: flex;
  flex-direction: column;
  width: 300px;

  .bx-title {
    width: 100%;
    margin: 0 0 20px 0;

    h1 {
      font-weight: bold;
    }
  }

  .form-forgot-password {
    mat-form-field {
      width: 100%;
    }

    .btn-confirm {
      width: 100%;
    }

    .links{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      color: var(--primary-color);

      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
