<div class="bx-forgot-password">
  <div class="bx-title">
    <h4>Bem-vindo(a)</h4>
    <h1>Redefinir senha</h1>
  </div>

  <form [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()">
    <div class="form-forgot-password">

      <mat-form-field appearance="outline" class="mat-form-field">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput class="email-field">
        <mat-error error-messages [control]="email"></mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nova senha</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="novaSenha" matInput>
        <mat-error error-messages [control]="novaSenha"></mat-error>
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar senha</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="confirmarNovaSenha" matInput>
        <mat-error error-messages [control]="confirmarNovaSenha"></mat-error>
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-flat-button type="submit" (click)="onSubmit()" class="btn-confirm">Alterar senha</button>

      <div class="links">
        <a [routerLink]="['/autenticacao']">Cancelar</a>
      </div>

    </div>
  </form>
</div>
