<div class=" shadow post-card">
  <div class="bx-contributors">
    <div class="circle">
      <div class="initial-letter">E</div>
    </div>
    <div class="circle">
      <div class="initial-letter">E</div>
    </div>
    <div class="circle">
      <div class="initial-letter">E</div>
    </div>
    <div class="contributors-names">
      Eduardo Nunes, Victor Paiva e Rachel Reis
    </div>
  </div>

  <div class="bx-image">
    <img src="assets/images/ex-imagem2.png">
  </div>

  <div class="bx-interactions">
    <i [ngClass]="false ? 'fa-solid fa-heart icon active-like' : 'fa-solid fa-heart icon'"></i>
    <i class="fa-solid fa-download icon middle-icon"></i>
    <i [ngClass]="false ? 'fa-solid fa-bookmark icon active-bookmark' : 'fa-solid fa-bookmark icon'"></i>
  </div>
</div>
