<div class="header-bar">
  <div class="shadow bx-header-bar">

    <div class="bx-items">
      <div class="bx-icon">
        <i class="fa-solid fa-seedling tree-icon"></i>
      </div>
      <div class="bx-actions">
        <i class="fa-solid fa-house btn-action active"></i>
        <!-- <i class="fa-solid fa-bell btn-action"></i> -->
        <i class="fa-solid fa-user btn-action"(click)="routeTo('/profile')"></i>
        <i class="fa-solid fa-right-from-bracket btn-action" (click)="logout()"></i>
      </div>
      <div class="bx-buttons">
        <button mat-flat-button class="btn-add" *ngIf="isAdvisorUser" (click)="workRegisterModal()">Adicionar TCC</button>
        <button mat-flat-button class="btn-add-responsive">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
