<div class="pg-feed">

  <div class="left-box">

  </div>

  <div class="middle-box">
    <div class="item-card" *ngIf="posts.length < 1">
      <app-empty-content-card></app-empty-content-card>
    </div>
    <div class="item-card" *ngFor="let post of posts">
      <app-post-card [post]="post"></app-post-card>
    </div>
  </div>

  <div class="right-box">
    <div class="bx-images">
      <img src="assets/images/preto-branco.jpg">
      <img src="assets/images/ufv.png">
    </div>
  </div>
</div>
