
:root {
  --primary-color: rgb(0, 162, 255);
  --primary-color-v2:  rgb(96, 195, 252);
  --secondary-color: white;
  --tertiary-color: rgb(0, 39, 61);

  --text-color: #cacaca;
  --text-color-2: #727272;
  --text-color-3: #333333;
  --text-color-4: black;

  --danger-color: #F43A68;
  --danger-color-light: #F43A6810;

  --alert-color: #F8B027;
  --alert-color-light: #F8B02710;

  --succes-color: #7CC372;
  --succes-color-light: #7CC37210;
}

// :root .light-theme {
//   --primary-color: rgb(238, 238, 238);
//   --primary-color-v2: white;
//   --secondary-color: #00aeff;
//   --tertiary-color: blue;

//   --text-color: #313131;
//   --text-color-2: #505050;
//   --text-color-3: #8d8d8d;
//   --text-color-4: #c9c9c9;

//   --danger-color: red;
//   --alert-color: yellow;
//   --succes-color: green;
// }

